*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgrey;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
a, .button {
    color: darkred;
}
.search
{
    background-color: grey;
    width: 100%;
    text-align: center;
}
.search h1
{
    padding: 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Cinzel', serif;
}
.search p {
    padding: 1.3rem 8rem;
    font-size: 1rem;

}
form {
    width: 100%;
    height: 100px;
}
input {
    width: 40%;
    padding: 0.5rem 0.5rem;
    margin: 35px auto;
    transition: 300ms;
}
input:focus {
    outline: none;
    box-shadow: 10px 10px 10px 10px black;
    transform: scale(1.1, 1.1);
}
#book-list {
    text-align: center;
    width: 100%;
    color: black;
    padding: 1.5rem;
}
#book-list h2 {
    margin-bottom: 1.5rem;
    color: black;
    font-size: 2rem;
    text-align: center;
}
#book-list ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#book-list ul li {
    padding: 1rem 0;
    box-shadow: 3px 3px 10px #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    list-style: none;
    width: 100%;
}
#book-list .content {
    background-color: #000;
}
.content span,
.list span {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: auto;
}
.content span:nth-child(1),
.list span:nth-child(1),
.content span:nth-child(3),
.list span:nth-child(3),
.content span:nth-child(5),
.list span:nth-child(5) {
    background-color: grey;
    text-align: center;
    display: flex;
    align-content: center;
    margin:  auto;
    justify-content: center;
}
.content span:nth-child(2),
.list span:nth-child(2),
.content span:nth-child(4),
.list span:nth-child(4),
.content span:nth-child(6),
.list span:nth-child(6) {
    background-color: snow;
    text-align: center;
    display: flex;
    align-content: center;
    margin:  auto;
    justify-content: center;
}
.content .book-number,
.list .book-number {
    width: 100px;
}
.content .book-name,
.list .book-name {
    width: 250px;
}
.content .book-autor,
.list .book-autor {
    width: 300px;
}
.content .book-resume {
    width: 400px;
}
#book-list li.list:hover {
    border-left: 5px solid red;
    border-right: 5px solid red;
    transform: translateX(15px);
}
li.list span {
    min-height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: auto;
    min-width: 150px;
}

.list .book-resume {
    width: 400px;
    height: fit-content;
}
.list .book-resume .button {
    font-size: 1em;
    padding: 10px;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.list .book-resume .button:hover {
    color: lime;
}
.list {
    height: auto;
}
li .book-resume p {
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content .book-img,
.list .book-img {
    width: 200px;
}
.content .book-link,
.list .book-link {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 25%;
    left: 0;
    background: rgba(255, 250, 250, 0.507);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 4rem auto;
    padding: 20px;
    background: lightgrey;
    color: #000;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 1s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #000;
    font-size: 2rem;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup .close:hover {
    color: lime;
}
.popup .resume-book {
    max-height: 35%;
    overflow: auto;
}

/* Media Queries */

@media screen and (max-width: 960px) {
    .search p {
        padding: .5rem 2rem;
        font-size: 1rem;
    }
    #book-list .content {
        background-color: transparent;
    }
    .content {
        min-width: 100%;
        overflow-y: auto;
    }
    .list {
        width: 100%;
        overflow: scroll;
    }
    #book-list .book-number {
        width: 60px;
    }
    #book-list .book-name {
        width: 200px;
        background-color: darkred;
    }
}
@media screen and (max-width: 660px){
    .overlay {
        top: 0;
        z-index: 3;
    }
    .box{
      width: 70%;
    }
    .popup{
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      overflow: visible;
    }
    .popup .close {
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .popup h2 {
        font-size: 1.5rem!important;
    }
    .popup .resume-book {
        font-size: .8rem;
        max-height: 100%;
    }
}
@media screen and (max-width: 960px){
    .overlay {
        top: 0;
        height: 100%;
        z-index: 3;
    }
    .popup{
        width: 80%;
        height: 50vh;
        margin: 5rem auto;
        overflow: visible;
    }
}